@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

#pokedex {
	font-family: "Orbitron", sans-serif;
	height: 40rem;
	width: 40rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(8, 5rem);

	#left {
		box-shadow: 0.3rem 0.3rem 3px #888888;
		background: red;
		display: grid;
		height: 35rem;
		width: 20rem;
		grid-template-columns: 2rem 3rem 1rem 8rem 2rem 2rem 2rem;
		grid-template-rows: repeat(35, 1rem);
		#left-top {
			height: 5rem;
			width: 20rem;

			display: grid;
			grid-template-columns: 2rem repeat(8, 1rem) 4rem;
			grid-template-rows: repeat(5, 1rem);

			#left-top-upper {
				border-radius: 5%;
				width: 20rem;
				height: 5rem;
				background: black;
				clip-path: polygon(
					0% 95%,
					/* top left */ 33% 95%,
					60% 45%,
					100% 45%,
					100% 50%,
					60% 50%,
					33% 100%,
					0% 100%
				);
			}

			.blue-button-xlarge {
				grid-column: 2;
				grid-row: 2;
			}

			div:nth-child(3) {
				grid-row: 2;
				grid-column: 6;
			}
			div:nth-child(4) {
				grid-row: 2;
				grid-column: 7;
			}
			div:nth-child(5) {
				grid-row: 2;
				grid-column: 8;
			}
		}
		#image-screen {
			grid-column: 2/6;
			grid-row: 8/26;
			background: red;
			#pokemon-image-border {
				background: #dedede;
				width: 16rem;
				height: 18rem;
				display: grid;
				grid-template-rows: 2rem 12rem 4rem;
				grid-template-columns: 2rem 12rem 2rem;
				border-radius: 3px;
				clip-path: polygon(
					0% 0%,
					/* top left */ 100% 0%,
					/* top right */ 100% 100%,
					/* bottom right */ 15% 100%,
					/* bottom left */ 0 85% /* bottom left */
				);

				#screen-top-lights {
					grid-row: 1/2;
					grid-column: 2/3;
					display: flex;
					justify-content: center;
					.light-wrapper {
						width: 3rem;
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
				}
				#pokemon-image {
					background: white;
					grid-row: 2/3;
					grid-column: 2/3;
					width: 100%;
					height: 100%;
				}
				#screen-bottom {
					grid-row: 3/4;
					grid-column: 2/3;
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}
		}

		#long-leds {
			grid-column: 2/6;
			grid-row: 27;
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 16rem;
		}

		#large-button-left {
			grid-column: 2;
			grid-row: 29;
		}
		#pokemon-name {
			grid-column: 3;
			grid-row: 30;
			background: #51ae5f;
			width: 8rem;
			height: 2rem;
			border-radius: 5px;
			padding: 0.5rem;
			font-size: 20px;
			color: #232323;
			text-transform: Capitalize;
		}
		#d-pad {
			grid-column: 5;
			grid-row: 29;
		}
	}
	#right {
		border-left: solid black 5px;
		box-shadow: 0.3rem 0.3rem 3px #888888;
		height: 30rem;
		margin-top: 5rem;
		width: 20rem;
		display: grid;
		background: red;
		grid-template-columns: 2rem 12rem 6rem 2rem; /* 5rem*6 */
		// grid-template-rows: 5rem repeat(30, 1rem);
		grid-template-rows: repeat(30, 1rem); /*35rem total */

		// #right-top {
		// 	grid-row: 0;
		// 	grid-column: 0;
		// 	height: 5rem;
		// 	width: 20rem;
		// 	background: white;
		// 	clip-path: polygon(
		// 		0% 95%,     /* top left */
		// 		33% 95%,
		// 		60% 45%,
		// 		100% 45%,
		// 		100% 50%,
		// 		60% 50%,
		// 		33% 100%,
		// 		0% 100%
		// 	);
		// }

		#pokemon-details {
			grid-column: 2;
			grid-row: 4/10;
			background: #232323;
			width: 16rem;
			border-radius: 5px;
			display: grid;
			padding: 0.3rem;

			.detail-line {
				margin: 0;
				color: #ffffff;
				font-size: 18px;
			}
		}

		#num-pad {
			grid-column: 2;
			grid-row: 13;
			display: grid;
			width: 16rem;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

			.num-pad-button {
				height: 2rem;
				width: 100%;
				background-color: #28aafe;
				box-shadow: 0px 0px 0px 0.1em #08405b inset;
			}
		}

		#search-box {
			grid-column: 2;
			grid-row: 19;
			display: grid;
			grid-template-columns: 4fr 2fr;

			#pokemon-number {
				height: 2rem;
				width: 7rem;
				padding: 0.25rem;
				font-size: 1.5rem;
				border-radius: 5px;
				background: #dedede;
				border: 3px black solid;
				font-family: "Orbitron", sans-serif;
			}
		}

		#search-button {
			grid-column: 3;
			grid-row: 21;
			background: #fcde20;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			box-shadow: 0px 0px 0px 0.5rem #9c8c0b inset;
		}

		#navigation-buttons {
			grid-column: 2;
			grid-row: 26;
			width: 16rem;

			display: grid;
			grid-template-columns: 6rem 4rem 6rem;

			.nav-button {
				border-radius: 5px;
				background: #002e2a;
				height: 2.5rem;
				width: 6rem;
			}
			.nav-button:first-child {
				grid-column: 1;
			}
			.nav-button:last-child {
				grid-column: 3;
			}
		}
	}
}

.red-led {
	background: #ff002b;
}

.yellow-led {
	background: #fcde20;
}

.green-led {
	background: #3e8d50;
}

.blue-led {
	background: #28aafa;
}

.black-button {
	background: #232323;
}

.led-small {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	border: #232323 0.1rem solid;
}

.led-med {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: #232323 0.1rem solid;
}

.led-long {
	width: 3rem;
	height: 0.2rem;
	border: #232323 0.1rem solid;
	border-radius: 0.2rem;
}

.button-large {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: #232323 0.1rem solid;
}

.blue-button-xlarge {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: #28aafa;
	box-shadow: inset 0px 0px 0px 0.5rem #7bd8f2;
}

.top-button-small {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background: #28aafa;
}

.red-button {
	background: #b1454d;
	box-shadow: inset 0px 0px 0px 0.1rem #cad2c7;
}

.yellow-button {
	background: #e7ba44;
	box-shadow: inset 0px 0px 0px 0.1rem #e8d994;
}

.green-button {
	background: #59b334;
	box-shadow: inset 0px 0px 0px 0.1rem #76c053;
}

.d-pad {
	background: #232323;
	width: 5rem;
	height: 5rem;
	clip-path: polygon(
		35% 35%,
		/* up */ 35% 10%,
		65% 10%,
		65% 35%,
		90% 35%,
		/* right */ 90% 65%,
		65% 65%,
		/* down */ 65% 90%,
		35% 90%,
		35% 65%,
		10% 65%,
		/* left */ 10% 35%,
		35% 35%
	);
}

.speaker {
	width: 1.8em;
	height: 1.4rem;
	div {
		background: #868282;
		width: 1.8rem;
		height: 0.2rem;
		border-radius: 0.1rem;
		margin-bottom: 0.2rem;
		margin-top: 0;
	}
	div:last-child {
		margin-bottom: 0;
	}
}

.type {
	padding: 1px 2px;
	margin: 0 3px;
	border-radius: 3px;
	color: white;
}
.type-normal {
	background: #a8a878;
}
.type-fighting {
	background: #c03028;
}
.type-flying {
	background: #a890f0;
}
.type-poison {
	background: #a040a0;
}
.type-ground {
	background: #e0c068;
}
.type-rock {
	background: #b8a038;
}
.type-bug {
	background: #a8b820;
}
.type-ghost {
	background: #705898;
}
.type-steel {
	background: #b8b8d0;
}
.type-fire {
	background: #f08030;
}
.type-water {
	background: #6890f0;
}
.type-grass {
	background: #78c850;
}
.type-electric {
	background: #f8d030;
}
.type-psychic {
	background: #f85888;
}
.type-ice {
	background: #98d8d8;
}
.type-dragon {
	background: #7038f8;
}
.type-dark {
	background: #705848;
}
.type-fairy {
	background: #ee99ac;
}
.type-unknown {
	background: #68a090;
}
.type-shadow {
	background: #5a25ab;
}
